/* book.css:內文顯示專用css */
.bold	{
	font-weight:bold;
}
.kaiti	{
	font-family:"標楷體",BiauKai;
}
.mingti	{
	font-family:"新細明體",Songti TC;
}
.italic	{
	font-style:italic;
}
.small , .inline_small_note	{
	font-size:small;
}
.border	{
	border:1px solid black;
}
ul.no-marker	{
	list-style:none;
}
.no-border td	{
    border: none !important;
}
.no-border	{
    border: none !important;
}

.circle-above	{
	
}
.lb	{	/* 行號樣式不能被覆寫 */
	color:black !important;	
	font-size:17px;
	font-weight: initial;
	font-family: "微軟正黑體";
}
.head	{
	color:#0000A0;
	font-size:larger;
	line-height:1.4em;
	padding:15px 0;
}
.juan	{
	color:#0000FF;
	font-size:larger;
	line-height:1em;
	padding:15px 0;
}
.byline	{
	color:#408080;
}

.lineInfo	{
	color:green !important;
	font-weight: initial;
	font-family: "微軟正黑體";
}
.lineInfo:before	{
	content:"[" attr(line);
}
.lineInfo:after	{
	content:"] ";
}

.lg	{
	display:table;
	color:#008040;
	margin-bottom:1.5em;
	/*text-indent:0 !important;*/
}

.lg.note1 , .lg.note2	{
	font-size:14px;
}

.lg-abnormal	{	/* lg abnormal 顏色與lg同 */
	color:#008040;
}

.note-link,.note-link-cbeta	{
	cursor:pointer;
	/*text-decoration:underline;*/
	color:#428bca;
}

/*
.lg-row:first-child .lg-cell:first-child	{
	text-indent:-1em;
}
*/

.lg-row	{
	display:table-row;
}

.lg-cell	{
	display:table-cell;
}
.lg-cell:not(:last-child)	{	/* 做用到非最後一個的cell即可 */
	padding-right:10px;		/* 除了非最後一個的cell外，每個cell右邊留一點空白 */
}
/*雙行夾註*/
.doube-line-note	{
	color:purple;
	font-size:14px;
}
/*
.doube-line-note:before	{
	content:"(";
}
.doube-line-note:after	{
	content:")";
}
*/
.div-w	{	/* 附文 */
	color:#AD0C6A;
}

.juan .cbeta	{	/* cbeta的自訂標題 */
	color:red;
}

.cbeta	{	/* 只要是cbeta都上紅字 */
	color:red;
}

.div-xu	{	/* 序文 */
	color:#0000a0;
}

.div-orig	{
	font-weight:bold;
}

.byline .lineInfo	{	/* 作者byline下的lineInfo行號一律隱藏 */
	display:none !important;
}

/* byline 是否依原書換行有不同的排版 */
.byline-break-by-jing	{	
	margin-left:4em;
	text-align:unset;
}
.byline-break-by-modern	{
	margin-left:0;
	text-align:right;
}
/* 依原書換行時，p與lg等區塊元素的 margin 要設為0，否則原書換行時即使用inline首行還是會有縮排效果 */
.break-line-jing p , .break-line-jing .lg , .break-line-jing .lg-row , .break-line-jing .lg-cell , .break-line-jing .bip-table , .break-line-jing .bip-table-row , .break-line-jing .bip-table-cell , .break-line-jing div[class*="div-"] , .break-line-jing ul , .break-line-jing li  	{
	margin:unset !important;
	padding:unset !important;
}


/* 不依原書換行時，p與lg需額外設定縮排*/
.break-line-modern p	{
	/*text-indent:2em;*/
}
.break-line-modern .lg 	{
	margin-left:4em !important;	/* 由於本來lg margin-left有設1em，使用important強制替換掉 */
}

.break-line-modern .juan,.break-line-modern .head	{	/*  「卷標題」、「作譯者」、「標題」等等的縮排應該是「整段縮排」（整段左邊切齊縮排），而不是「首行縮排」(byline已有免設) */
	text-indent:0;
	margin-left:2em;
}
.break-line-modern .line_space	{
	display:none;
}
.line_space	{
	display:inline-block;
}
.interlinear-note	{	/* 行間註解 */
	color:#AB2B96;
}

.unclear	{	/* 文本推測字 */
	background-color:lemonchiffon;
	margin:0 1px;	/* 推測字左右加點間距，否則多個框框看起來會黏一起  */
}

.hint::before	{		/* 南傳PTS頁碼 */
	content:"[" attr(data-label) "]";
	color:navy;
}

.head1	{
	margin-left:2em;
}
.head2	{
	margin-left:3em;
}
.head3	{
	margin-left:4em;
}
.head4	{
	margin-left:2em;
}
.head5	{
	margin-left:3em;
}
.head6	{
	margin-left:4em;
}

#cbeta-copyright	{
	margin-top:1em;
	display:none;
	background-color:#F0F0F0;
	padding:10px;
}
#cbeta-copyright p	{	/* 版權宣告不必縮排，強制性 */
	text-indent:0 !important;
}
.display_copyright_btn	{
	font-size:smaller;
	margin-top:1em;
}

#jing-tools-searchTool	{
    background-color: #f5f5f5;
    border-bottom: 1px dashed lightgray;
    border-left: 1px dashed lightgray;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 45px;	/* 45px is height of #book-toolbar */
	padding-bottom:5px;
	display:none !important; /* 2017-05-04: 舊版搜尋上下筆先強制關掉 */
}
#jing-tools-searchTool-text	{
	display:inline-block;
	margin:0 10px 0 20px;
}

#ai-prompt-msg	{
	display:table;
	margin:1em;
	padding:.75rem 1.25rem;
}

.person_hl	{
	color: #6E0612;
	cursor: pointer;
	border-bottom: 1px dotted;
}

.place_hl	{
	color: #939;
	cursor: pointer;
	border-bottom: 1px dotted;
}

.circle	{
	position: relative;
    /*display: inline-block;*/
}

.circle::before	{
	content: "";
	position: absolute;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #000;
	border-radius: 50%;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cbeta-link	{
	cursor: pointer;
	color: #428bca;
	padding-right: 14px;
	background: transparent url('../images/external_10x10.png') center right no-repeat;	
}

.cbeta-link:hover	{
	text-decoration:underline;
}





/* Themes (護眼色) */
.theme_1{
	background-color: #E0DCCC;
	color: #593f36;
}
.theme_1 ::selection {
	background-color: #cddc39;
	color: #016e64;
}
.theme_1 ul.dynatree-container a	{
	color:#593f36;
}
.theme_1 ul.dynatree-container	{
	background-color:#E0DCCC;
}

.theme_2{
	background-color: #ddd;
	color: #464646;
}
.theme_2 ::selection {
	background-color: #ffc107;
	color: #2d2d2d;
}
.theme_2 ul.dynatree-container a	{
	color:#464646;
}
.theme_2 ul.dynatree-container	{
	background-color:#ddd;
}

.theme_3{
	background-color: #ddf0e4;
	color: #464646;
}
.theme_3 ::selection {
	background-color: #fffc81;
	color: #3F51B5;
}
.theme_3 ul.dynatree-container a	{
	color:#464646;
}
.theme_3 ul.dynatree-container	{
	background-color:#ddf0e4;
}



/* RWD */
@media screen and (max-width: 1450px) {
	.jing-tools-btns-label	{
		display:none;
	}
	/*
    .jing-title	{
		font-size:medium;
	}	
	.content,.lb,.doube-line-note	{
		font-size:14px;
	}
	.jing-title .dropdown-menu	{
		font-size:12px;
	}	
	#jing-tools-searchTool-text	{
		display:none;
	}
	*/
	#jing_selector .modal-dialog	{
		width:800px;
	}
	#jing-tools-searchTool	{
		font-size:medium;
	}
	
	.content	{
		/*height:92vh;*/
	}
	
	#tree_area > .tab-content > div	{	
		height:87vh;
	}
}