/*
@media (max-width: 767px) {
	.content {
		padding: 15px;
		margin-top: 100px;
	}
}
*/
@media (min-width: 768px) {

	#selector-menu-bar .panel {
	margin-bottom: 0;
	background-color: rgba(0,0,0,0);
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	}

	#selector-menu-bar li a {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
	}

	#selector-navbar-vertical {
		border-color:#222222;
		float: left;
		width: 230px;
		height: 100%;
		margin-bottom:0px;
		border-top-right-radius:0px;
		border-bottom-right-radius:0px;
	}
	#selector-navbar-vertical .navbar-brand	{
		cursor:default;
	}
	#selector-navbar-vertical .navbar-brand:hover,#selector-navbar-vertical .navbar-brand:active,#selector-navbar-vertical .navbar-brand:focus	{
		color:#999999;
	}	
/*
	.content {
		margin-left: 300px;
		min-height: 100%;
	}

	.container {
		margin-left: 25px;
	}
	*/
}



