html, body {
	height: 100%;
	font-family:Arial , cbetarc , "微軟正黑體", "Songti TC", "Times New Roman", "Hanazono Mincho B", "Hanazono Mincho C", "Hanazono Mincho A";
}
@font-face {
  font-family: sibai;
  unicode-range:U+2F8BB;
  src: local("Hanazono Mincho B"), local("Hanazono Mincho C"), local("Hanazono Mincho A");
}
@font-face {	/* 我們自行開發的罕用字字型 webfont */
  font-family: cbetarc;
  src: url('../../fonts/cbetarc.woff2') format("woff2");
  /*unicode-range: U+2????; */
}
#rightbox	{
	margin-bottom:100px;
}
#variants-suggestion-area , #search-main-area	{
	display:none;
}
#searhtool{
    padding-inline-start: 0;
}
#searhtool li{
	font-size: 0.8em;
	display: inline;
	margin-right: 0.5em;
}
#searhtool li::after{
	content: " / ";
}
#searhtool li:last-child::after{
	content: "";
}
.minibtn{
	font-size: 0.8em;
	padding: 2px 8px;
	background-color: #ddd;
}
#tabbtns{
	border: none;
}
#tabbtns a{
	border: none;
	background-color:transparent;
}
#tabbtns:hover{
	border: none;
}
#tabbtns a.active{
	border: none;
	border-bottom: 5px solid #007bff;
	padding-bottom: 0.2em;
}
.sidebox{
	width: 200px;
	height: 200px;
	border-radius: 8px;
	margin: 2px;
	background-color: #ddd;
}

#variants-suggestion-content li , #synonym-suggestion-content li , #jinlu-variants-suggestion-content li {
	display: inline;
}
#variants-suggestion-content li::after , #synonym-suggestion-content li::after , #jinlu-variants-suggestion-content li::after {
  content: " • ";
  color: #ffacac;
  font-size: 0.5em;
  margin: 3px;
}
#variants-suggestion-content li:last-child::after , #synonym-suggestion-content li:last-child::after , #jinlu-variants-suggestion-content li:last-child::after{
	content: "";
}
.txtbtn{
	border: none;
	background-color:transparent; 
	color: blue;
}
a.card-link{
	font-size: 1.2em;
	color: #222;
}
.viewmore{
	float: right;
	margin-bottom: 1em;
	font-size: 0.8em;
}
.viewmore-modal-btn	{
	margin-left:1.5em;
	display:;
}
.viewmore-next , .viewmore-data-area , .viewmore-prev	{	/* 2021-01-12:後分類即時分頁按鈕先不需要 */
	display:none;
}
.inlinebtn{
	border: 1px solid #ced4da;
	border-left: none;
	letter-spacing: 1px;
}
.rltlist div.listtxt{
	text-align: justify;
    padding-right: 4rem!important;
	font-size: 0.9rem;
	letter-spacing: 1px; 
	margin-left: 1.5em;
}
.rltlist li{
	border-bottom: 1px dotted #ddd;
	line-height: 1.6rem;
	counter-increment: li;
	margin-bottom: 5px;
}
.rltlist{
	list-style: none;
	padding-inline-start: 0;
}
.rltlist li::before {
	content: counter(li);
	color: #dc3545;
	display: inline-block; 
	width: 3em; 
	margin-left: -2em; 
	margin-right: 0.5em;
	float: left;
	font-size: 0.8em;
	text-align: right; 
	direction: rtl;
}
.rltlist li:last-child {
  border-bottom: none;
}
.fa-caret-down:before , .fa-caret-up:before {
    color: #adb5bd;
}
.card-cs-title{
	line-height: 32px;
	font-size: 1.25em;
	color:#388e3c;
}
.card-padding{
	padding: 0.5rem!important;
}
#cbtnarea{
	float: right;
}

#select-tag-area , #footnote-select-tag-area , #similar-select-tag-area	{
	background-color: #fff;
	border-color: #91c9f2;
	padding: 0.75em;
}
#select-tag-area .badge-light , #footnote-select-tag-area .badge-light , #similar-select-tag-area .badge-light	{
	background-color: #e0efff;
	cursor: pointer;
}

#selected-tag-action-box , #footnote-selected-tag-action-box , #similar-selected-tag-action-box  {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	background-color: #f8f9fa;
	height: 3em;
	border: 1px solid #dddddd;
	border-bottom: none;
	border-radius: 0.5em 0.5em 0 0;
	padding-top: 0.5em!important;
	padding-bottom: 1em;
	display:none;
}
.morebtn{
	color: #2d8dfe;
	font-size: 0.8em;
	cursor: pointer;
}

/* 以下為阿閒增加 */
.kwic-contexts	{
	display:none;
}

.filter-items , .footnote-filter-items , .similar-filter-items	{
	margin-left:4px;

}

#leftbox .card-header , #leftbox_footnote .card-header , #leftbox_similar .card-header	{
	padding: 0.25em 0.5em 0 0.5em;
}

#topbar{
	padding:0 1em;
	border-radius: 5px;
}
#topbar .btn-light{
	border: 1px solid #ddd;
}
.bluebubble{
	background-color: aliceblue;
	border: 1px solid #c3eaff;
}

#selected-range-jing-text	{
	width: 95%;
	display: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: text-top;	
}

.footnote-items	{
	margin:1em 0;
}

.footnote-items .card-body{
    text-align: justify;
    font-size: 0.9em;
    padding: 0.5em 1em;
    background-color: #fff;
    border-top: 1px solid #ddd;
    line-height: 1.75em;
}

.footnote-items .btn:hover{
    text-decoration: none;
}

.footnote-items.note-foot .card-cs-title::before	{
    background: #e5f1d8;
    padding: 3px;
    border-radius: 5px;
	font-size:smaller;
	content:"校注";
}

.footnote-items.note-inline .card-cs-title::before	{
    background: #eee;
    padding: 3px;
    border-radius: 5px;
    font-size:smaller;
	color: gray;
	content:"夾注";
}

.en .footnote-items.note-foot .card-cs-title::before	{
	content:"footnote";
}

.en .footnote-items.note-inline .card-cs-title::before	{
	content:"inline note";
}

.note-foot	{
	border: 1px solid  #c5e1a5;
	border-left-width: 0.25rem;
}

.note-inline	{
	border: 1px solid #eee;
	border-left-width: 0.25rem;
}

.note-inline .card-cs-title	{
	color:gray;
}

.similar-items	{
	margin:1em 0;
	border: 1px solid  #c5e1a5;
	border-left-width: 0.25rem;	
}

.similar-items .card-body{
    text-align: justify;
    font-size: 0.9em;
    padding: 0.5em 1em;
    background-color: #fff;
    border-top: 1px solid #ddd;
    line-height: 1.75em;
}

.similar-items .btn:hover{
    text-decoration: none;
}

mark{
	background-color: #fff3ba;
}
#jinlu-res-table mark   {
    color:#007bff;
}
.badge-orange {
    color: #ff8100;
    background-color: none;
}

.close	{
	max-height: 1em;
}

.textsearch-filter-blocks	{
	max-height:1000px;
	overflow:auto;
}

#jinlu-res-table td:first-child{
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	vertical-align:middle;
}
#jinlu-res-table td{
	vertical-align:middle;
	padding: 0.25em 0.5em;
	/* border-right: 1px solid #ddd; */
	height: 2.25em;
	text-align: center;
}
#jinlu-res-table th	{
	padding: 0.25em;
	text-align: center;
	font-size: 0.8em;
	min-width: 4em;
}
#jinlu-res-table td:nth-child(3)	{
	text-align:center;
	color:#6c757d !important;
	font-weight: 400;
}

/* 相似句結果內文字樣式調整 + */
#rightbox_similar #similar-search-res .similar-items .card-body em	{	
	color:blue;
	font-style: normal;
}
#rightbox_similar #similar-search-res .similar-items .card-body del	{	
	color:red;
}
/* 相似句結果文字樣式調整 - */

#myRange-tickmarks	{
    width: calc(100% + 1.5em);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -0.25em;
}
#myRange-tickmarks option  {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
	font-size: 0.8em;
	color: #007bff;
}

#similar-search-score-bar-tickmarks	{
    width: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -0.25em;
	margin-top:-0.5em;
}

#similar-search-score-bar-box	{
	width: 250px;
	display: inline-block;
	position: absolute;
	right: 0;
	top:-1.8em;
}

#similar-search-score-bar-tickmarks option	{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
	font-size: 0.8em;
	color: #007bff;	
}

#text-to-top-btn , #footnote-to-top-btn,#similar-to-top-btn	{
	position: fixed;
	background: #b5d8ff78;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 24px;
	color: #72b4fe;
	border-radius: 30px;
	z-index: 10000;
	cursor: pointer;
	margin-bottom: 1em;
	margin-right: 0;
	right: 0.5em;
	bottom: 1em;
	display:none;
}

#feedback_modal table	{
	border:none;
	width:95%;
}

#feedback_modal table td:nth-child(1)	{
	width:150px;
	color:graytext;
	text-align:right;
}
#feedback_modal table td	{
	padding-bottom:15px;
}

.search-results-title-juan	{
	cursor:pointer;
}

.search-results-title-juan:hover	{
	text-decoration:underline;
}

.metadata-items-in-modal , .footnote-metadata-items-in-modal , .similar-metadata-items-in-modal	{
	width:30%;
	float:left;
	margin: 8px;
}

#save-search-range-btn	{
    cursor: pointer;
    border: 1px solid #aaa;
    background: antiquewhite;
	display:none;
}

#selected-search-range-title-text	{
	color:brown;
	font-weight:bold;
}

.hl	{
	color:red;
}

#change-search-range-btn::before	{
	content:"(";
}
#change-search-range-btn::after	{
	content:")";
}

.similar-score-percent	{
	color:#dc3545;
	font-size:small;
	margin-left:.5rem;
}
.similar-score-percent::before	{
	content:"(";
}
.similar-score-percent::after	{
	content:")";
}

.jing-category-text	{
	margin-right: 0.5em;
	color: var(--info);
}
}


/* 取消所有滑鼠事件相關 + */
.disable_all_mouse_events	{	
	cursor:not-allowed;
}

.dynatree-container .disable_all_mouse_events a	{
	color:lightgray;
}

.dynatree-container .disable_all_mouse_events .dynatree-expander , .dynatree-container .disable_all_mouse_events .dynatree-checkbox , .dynatree-container .disable_all_mouse_events .dynatree-icon , .dynatree-container .disable_all_mouse_events .dynatree-title	{
	pointer-events: none;
}
/* 取消所有滑鼠事件相關 - */


.hl_row	{
	animation-name: hl_row_animate;
	animation-duration: 1s;
	animation-iteration-count: 1;
	
	/* for webkit*/
	-webkit-animation-name: hl_row_animate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;	
}
@keyframes hl_row_animate {
    from {background-color: #f43d5f; color:white;}
    to {background-color: white; color:#607D8B;}
}
@-webkit-keyframes hl_row_animate {
    from {background-color: #f43d5f; color:white;}
    to {background-color: white; color:#607D8B;}
}



@media only screen and (max-width: 576px) {
	#leftbox{
		display: none;
	}
	#rightbox{
		margin: 0.5em;
	}
}
@media only screen and (max-width: 768px) {
	#cbtnarea{
		float: left;
		margin-top: 0.25em;
		width: 100%;
	}
	body{
		padding: 0.25em;
	}
	#jing_selector_contextSearch_dynatree_modal .modal-dialog .modal-content	{
		width:auto !important;
	}
}

