a:link , a:visited , a:active {
	text-decoration:none;
}

#back2top {
	background-color:rgba(183,203,183,.5); 
	border-radius:50px;
	bottom:17px;
	color:#FFF;
	display:scroll;
	line-height:70px;
	position:fixed;
	right:17px;
	text-align:center;
	text-shadow:1px 1px 1px #666;
	width:70px;
}

.ball {
	color:rgba(102,102,51,.4);
	font-size:0.2em;
	line-height:0.5em;
	text-align:center;
	padding-bottom:2em;
}

.ball:before {
	content:"●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●   ●";
}

.bl {font-weight:bold;}
.bibox {
	border-style:double;
	padding:5px 10px;
}

.bibox_y {
	background-color:rgba(255,255,255,.4);
	border-radius:4px;
	margin:2em auto 0.5em auto;
	padding:0.5em 2em;
	text-align:center;
	width:70%;
}

body {
	background-image:url('pic/jing1.jpg');
	font-family:'Microsoft JhengHei','arial';
	font-weight:550;
	font-size:1em;
	line-height:1.5em;
}

.body_box {
	margin:auto; padding-top:5%;
}
	
blockquote {
	background-color:rgba(217,209,217,.5);
	border-radius:6px;
	box-shadow:0 0 30px 10px rgba(102,51,0,.2) inset;
	padding:0.7em 2em;
}

.center {
	text-align:center;
	white-space:nowrap;
}

.container {
	width:90%; margin:auto;
}

/*-----*/
.dropdown {
	color:#FFF;
	display:inline-block;
	position:relative;
}

.dropdown-content {
	background-color:#FFF;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,.2); border-radius:4px;
	display:none;
	line-height:1.2em;
	width:16.5em;
	position:absolute;
	text-align:left;
	z-index:3;
}

.dropdown-content a {
	border-bottom:1px solid #ddd;
	color:#330;
	display:block;
	font-size:12pt;
	padding:8px;
}

.dropdown-content a:hover {
	background-color:#e6e6e6;
}

.dropdown:hover .dropdown-content {
	display:block;
}
/*-----*/


.flex {
	display:-webkit-flex;display:flex;
	-webkit-justify-content:space-around; justify-content:space-around;
}

h1 {
	color:#4d3319;
	font-family:'Gen Jyuu GothicX','Microsoft JhengHei';
	text-align:center;
	text-shadow:2px 3px 2px #999;
}

.header {
	background-color:rgba(85,85,85,0.7);
	border-radius:3px;
	display:-ms-flexbox; display:-webkit-flex; display:flex;
	width:100%; line-height:1.8em;
}

.header-left {
	width:16%;
}

.header-left > a {
	color:#CC9;
	text-decoration:none;
}

.header-right {
	text-align:right;
	width:84%;
}

.navy {
	color:#004477;
}

.navy22 {
	color:#004477;
	font-size:22px;
}

.navy22b {
	color:#004477;
	font-size:22px;
	font-weight:bold;
}

.orange {
	color:#F60;
}
	
.red {
	color:#b30000;
}

.red22b {
	color:#b30000;
	font-size:22px;
	font-weight:bold;
}

.m1 {margin-left:1em;}
.m2 {margin-left:2em;}
.m3 {margin-left:3em;}
.m4 {margin-left:4em;}

.toright {
	float:right;
}

li, p, table,th,td {
	font-size:1em;
	line-height:2em;
}

.right {
	text-align:right;
}

table, td, th {
	border:1px solid #999;
	padding:7px;
}

table {
	border-collapse:collapse;
	margin:auto;
	width:90%;
	align:center;
	border:1;
}

th {
	text-align:center;
	background-color:rgba(199,177,135,.5)
}

.top {
	vertical-align:top;
}





